.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinations-list {
  justify-content: flex-start;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .destination-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-top: 48px;
    list-style: none;
  }
}

.search-image {
  height: 25px;
  width: 25px;
  padding-top: 5px;
}

.input-element-container {
  background-color: #f1f5f9;
  border-radius: 10px;
  padding: 5px;
}

.input-element {
  background-color: #f1f5f9;
  border: none;
  margin-top: none;
}
